body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #ccc;
    margin: 0;

}
.hero{
    background-image: url(/img/Naruto\ e\ sua\ Bijuu.jpg);
    height: 500px;
    background-position: right center;
    background-size: cover;
}
.hero-content{
    text-align: center;
    color: #cc2539;
    margin-top: 150px;
}
.hero-content h1{
    text-transform: uppercase;
    font-size: 36px;
    text-shadow: 3px 3px 5px #333;

}
main{
    marg
}